<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace로 TestMapper와 연결 -->
<mapper namespace="org.erp.mapper.MemberMapper">
	<insert id="signup">
		insert into member(empno, password, name, gender,
		birth, ranking, phone, addr, hiredate)
		values(#{empno},#{password},#{name}, #{gender}, #{birth}, #{ranking},
		#{phone}, #{addr}, #{hiredate})
	</insert>

	<select id="idcheck" resultType="int">
		select count(*) from member
		where empno=#{empno};
	</select>

	<select id="emplist" resultType="org.erp.model.MemberVO">
		select *
		from(
		select @rownum:=@rownum+1 rownum, m.*
		from member m,
		(select @rownum:=0) as tmp) as memberlist
		<![CDATA[
			where rownum> (#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
			]]>
	</select>

	<!-- 멤버 리스트에서 전체 회원수 조회 -->
	<select id="total" resultType="integer">
		select count(*) from member
	</select>

	<!-- 사원 정보 불러오기 -->
	<select id="modify" resultType="org.erp.model.MemberVO">
		select * from member where
		empno=#{empno};
	</select>

	<update id="modifypost">
		update member set empno=#{empno},
		password=#{password}, name=#{name}, hiredate=#{hiredate},
		phone=#{phone}, gender=#{gender}, ranking=#{ranking},
		addr=#{addr}, birth=#{birth} where empno=#{empno};
	</update>

	<update id="mypagemodify">
		update member set password=#{password}, addr=#{addr}
		where empno=#{empno};
	</update>

	<!-- 멤버 삭제 설계 -->
	<delete id="remove">
		delete from member where empno=#{empno};
	</delete>

	<select id="login" resultType="org.erp.model.MemberVO">
		select * from member where
		empno=#{empno} and password=#{password};
	</select>

	<select id="idsearch" resultType="String">
		select empno from member where
		name=#{name} and phone=#{phone};
	</select>
	
	<select id="pwsearch" resultType="String">
		select empno from member where
		empno=#{empno} and name=#{name};
	</select>
	
	
	
</mapper>